# Dependencies
node_modules/

reset-password-all.js
reset-password-batch.js
updatetbl.sql

# Environment variables
.env.local
.env.ngrok
.env.production
.env.*
service-account.json

# Logs
logs/
*.log

# Editor / OS
.vscode/
.DS_Store
